<a href="https://colab.research.google.com/github/iamksseo/colab/blob/master/hello.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello world")

hello world

In [2]:
 3 + 4

7

In [4]:
import tensorflow as tf

In [5]:
import keras

In [6]:
import boto3

In [7]:
import pandas as pd
df = pd.read_csv("sample_data/california_housing_test.csv")
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [9]:
import tensorflow as tf
device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
print('Found GPU ast: {}'.format(device_name))

Found GPU ast: /device:GPU:0